

header {
  background: #111;
  width: 100%;
  height: 100px;
}

.page-wrap {
  padding: 2rem 0;
}

header .top-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header .top-bar li {
    position: relative;
}

header .top-bar li a {
  color: #fff;
  padding-right: 1rem;
}

header .top-bar li:last-child a {
  padding-right: 0;
}



header .top-bar li .sub-menu {
    display:none;
  position: absolute;
  left: 0;
  top: 100%;
  background: #fff;
  margin:0;
  padding:0;
  list-style-type: none;
  width:200px;
  z-index:999;

}

header .top-bar li .sub-menu a{
    color : currentColor;
    display:block;
    text-align:center;
    text-decoration: none;
    
}




header .top-bar .menu-item-has-children:hover .sub-menu {
  display: block;
}
